table.rfp
{
border-collapse:collapse;width:500; border=4px solid;
}

table.rfp th.col1{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:15%;
}

table.rfp th.col2{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:65%;
}

table.rfp th.col3{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:20%;
}

table.rfp td{
border:1px solid;text-align:left;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;word-wrap: break-word;
}

table.dev
{
border-collapse:collapse;width:500; border=4px solid;
}

table.dev th.col1{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:15%;
}

table.dev th.col2{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:35%;
}

table.dev th.col3{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:15%;
}

table.dev th.col4{
height:32px;border:1px solid;padding:5px;vertical-align:middle;width:35%;
}

table.dev td{
border:1px solid;text-align:left;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;word-wrap: break-word;
}
