<!doctype html>
<html>

<head lang="en">
	<title> RFP Generating System </title>
    <meta charset="UTF-8">
    <title>RFP</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myscript.js"></script>
    <script src="js/excellentexport.js"></script>
	<link rel="icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#"><img src="images/logo.png" id="logo"></a>
        </div>

        <div class="hidden-xs navbar-heade">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">招标参数生成系统</a></li>
        </ul>
        </div>

        <div class="navbar-heade visible-xs pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">招标参数生成系统</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverse" id="dividerbar"></nav>

<div class="navbar-header" id="dividerbarmob"></div>

<div class="jumbotron " id="myjumbotron">
    <!--  <img src="0.png" id="rabbit">//-->
    <div class="container" >
    <h1 id="slogan">Solutions for an Application World</h1>
    </div>
</div>

	{{{body}}}
	
	<footer class="panel-footer myfooter">
    <div class="container">
        <p class="text-muted footer-text">All the comments and advice are welcomed.<a href="mailto:g.liu@f5.com">Contact me.</a></p>
    </div>
	</footer>

</body>
</html>